.close_button {
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: 600;
  display: block;
  margin: .5em auto;
  background-color: #e52d2d;
  color: #ffffff;

  border: none;
  border-radius: 8px;
  cursor: pointer;

  transition: background-color 0.2s ease, transform 0.1s ease;
}

@media (max-width: 500px){
  .close_button{
    width: 350px;
  }
}